*{
    margin: 0;
    padding: 0;
}

.img{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#loquita{
    text-align: center;
}

#tinquetan{
    text-align: center;
}

#carros{
    margin: 25px;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
}

#tin1{
    margin: 25px;
    height: 550px;
    width: 2000px;
}

#tintin{
    margin: 25px;
    padding: 50px;
}

#vh{
    background-color: rgb(157, 238, 211);

}